html {
	font-size: 100%;
}

body {
	font-family: -apple-system,	BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	margin: 0;
	background-color: #fff;
	color: #3a3a3a;
	height: 100vh;
}

body.inverted {
	background-color: black;
	filter: invert(100%);
}

a {
	color: #ff002f;
	text-decoration: none;
}

a:focus,
a:hover {
	text-decoration: underline;
}

.sprites-wrapper {
	display: none;
}

.preview {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.preview--wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.sprite-link {
	margin: 1rem;
}

.sprite {
	width: 64px;
	height: 64px;
	fill: #3a3a3a;
	padding: .5rem;
	box-sizing: border-box;
}

.sprite:focus,
.sprite:hover {
	fill: #008cea;
}

.sprite * {
	pointer-events: none;
}


.dropzone {
	border: 2px dashed #ccc;
	color: #4c5d69;
	display: flex;
	height: 60px;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	will-change: padding;
	transition: padding ease-out .2s;
	text-align: center;
}

.dropzone.is-active {
	border-color: currentColor;
	color: #008cea;
	padding: 2rem;
}

.hint {
	text-align: center;
}

.button--download {
	background: #fff;
	color: #ff002f;
	border: none;
	padding: 1rem;
	margin: 1rem;
	cursor: pointer;
	font-weight: 600;
	text-decoration: underline;
}

.button--download:focus,
.button--download:hover {
	background-color: #ff002f;
	color:white;
	text-decoration: none;
}


.footer {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 2rem;
	padding: 1rem;
}
